<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<!-- 启用 annotation -->
	<context:annotation-config />
	
	<!-- 启用@Aspectj支持的aop -->
    <aop:aspectj-autoproxy/>
	
	<!-- 设置使用注解的类所在的src包 上面一句context:annotation-config可以去掉 -->
    <context:component-scan base-package="com.rabbit.site"></context:component-scan>
    
    <!-- 处理所有的异常 -->
    <bean id="simpleMappingExceptionResolver" class="com.rabbit.site.exceptionHandler.ShareHandlerExceptionResolver" />
    
    <!-- 测试开发环境数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	    <property name="url" value="jdbc:mysql://localhost:3306/jingjing" />
	    <property name="username" value="root" />
	    <property name="password" value="12120415" />
	</bean>

    <!--1:配置一个JdbcTemplate实例，并将这个“共享的”，“安全的”实例注入到不同的DAO类中去  -->
    <bean id = "jdbcTemplate" class = "org.springframework.jdbc.core.JdbcTemplate">   
        <property name = "dataSource" ref="dataSource"/>   
    </bean>
    
    <!-- spring 连接 redis 的数据源配置
	<bean id="jedisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="192.168.9.93" p:port="6379" p:password="12120415" p:use-pool="true" />
		
     <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
		p:connection-factory-ref="jedisConnectionFactory" /> -->
</beans>
